<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeung.fh_jotnotes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newnote"
            android:label="@string/title_activity_newnote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".archive"
            android:label="@string/title_activity_archive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tags"
            android:label="@string/title_activity_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newtags"
            android:label="@string/title_activity_newtags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".notelist"
            android:label="@string/title_activity_notelist"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>